:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9C46A;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
}

header img, header h1 {
    height: auto;
}

header img {
    width: 7em; 
    border-radius: 10px;
    margin-left: 6em; 
}

header h1 {
    font-size: 36px;
    text-align: center; 
    flex-grow: 1; 
}

header a, a:visited {
    text-decoration: none;
 } 

header img {
    width: 7em; 
    border-radius: 10px;
}

header #column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;
    
}

header #logout-button {
    background-color: #4b9e5e; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5em 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #252525;
    margin-bottom: 3em;
    
}

header .fa-cart-shopping {
    font-size: 2.5em;
    color: rgb(15, 15, 15);  
    
}



header #logout-button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

main {
    display: flex;
    margin-top: 8.6em; 
    margin-bottom: 2.6em; 
    padding-bottom: 2.6em; 
    flex: 1; 
    flex-grow: 1;
}

#tabs, #books-section, #filter {
    flex: 1; 
    width: 100%;
    height: auto;
    
}

#tabs { 
    margin-top: 1.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: center;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
}

#tabs, a {
    color: rgba(0, 0, 0, 0.858);
    text-decoration: none;
}

#tabs, h3 {
    border: 1px solid black;
    margin: 1em;
    border-radius: 1em;
    padding: 1.7em
    
}

#tabs h3:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#books-section{
    flex: 3; 
}

.books-title {
    text-align: center;
}

#books, #topsellers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1em;
    padding: 2em;
    
}

#books-section, .book {
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
}

#books-section .hide {
    display: none;
}

#books-section #read-more {
    width: 70%;
    background-color:#E76F51;
    color: rgb(46, 46, 46); 
    padding: 10px; 
    border-radius: 0 0 10px 10px; 
}

#books-section ul {
    list-style-type: none; 
}

.book {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
}

.book:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: .5em;
    text-align: center;
}

.buy-button{
    width: 70%;
    background-color: #E76F51;
    color: rgb(46, 46, 46);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0.2em;
}

.toggle-btn {
    width: 70%;
    background-color: #E76F51;
    color: rgb(46, 46, 46);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}



.description, .publisher, .price, .discounted-price, .created-at {
    margin: 0.5em 0;
    border-bottom: 1px solid rgb(45, 45, 45);
    padding-top: .5em; 
}

.cover-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    max-height:  200px;
    margin-bottom: 0.5em;
}


#filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    border: 1px solid black;
    margin: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2em;
}



#filter h5 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

#filter input[type="text"] {
    width: 100%; 
    padding: 0.5em 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    background-color: #f9efc2;
    
}

#filter input[type="text"]:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

#filter input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    background-color: #f9efc2;
    border: 1px solid #000000;
    cursor: pointer;
    align-items: center;
}

#filter input[type="checkbox"]:checked::before {
    content: "\2713";
    color: #3d3d3d; 
    font-size: 20px; 
    text-align: center;
    line-height: 18px; 
}

#filter input[type="checkbox"]:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

#filter input[type="text"],
#filter input[type="checkbox"] {
    margin-bottom: 1em;
}

#filter #label-input {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 0.5em;
}

#filter .label-input-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
    
}

#buttons button {
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-top: 1em; 
    margin-right: 1em;
    margin-left: 1em;
}

#filter #reset {
    background-color: #e78066;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#filter #apply {
    background-color: #4b9e5e; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#filter #reset:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

} 

#filter #apply:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E76F51;
    width: 100%; 
    overflow: hidden;
    border-top: 1px solid black;
}

footer a, footer span {
    color: rgb(15, 15, 15);
    text-decoration: none; 
    padding-left:  1.5em;
}

footer span {
    text-align: center;
    flex-grow: 1;
}

footer a:hover {
    text-decoration: underline; 
}

#logo{
    display: flex;
    margin-right: 1.5em;
}

#logo a {
    margin: 0 0.4em;
    font-size: 0.3em;
}

#logo img {
    width: 20px; 
    height: auto;
}

