:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: #E9C46A;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

header img {
    width: 7em;
    border-radius: 10px;
    margin-left: 6em;
}

header h1 {
    font-size: 36px;
}

main {
    flex: 1; /* Fill remaining space */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

#products {
    display: flex;
    flex-direction: column;
    background-color: #c3705b;
    padding: 1em 2em;
    border-radius: 1em;
}

#product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#product-list li {
    background-color: #ffe2db;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#product-list li::before {
    content: "📚";
    margin-right: 10px;
}

#product-list li:hover {
    background-color: #aa8178;
}

#payment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c3705b;
    padding: 2em 4em;
    border-radius: 1em;
    padding: 1em 3em;
    
}

#payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3em 1em;
    text-align: left; 
}

#payment-form > div {
    margin-bottom: 1em;
    width: 100%;
}

#card-add-card {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#payment-form label {
    font-weight: bold;
    
}

#payment-form input[type="text"] {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #ffe2db;
    margin-top: 1em;
}

#payment-form button {
    padding: 0.5em 2em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    
}

#buy-button {
    padding: 1em 3em;
    
}

#payment-form button:hover {
    background-color: #0056b3;
}

#total-sum {
    background-color: #f9f9f9;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E76F51;
    border-top: 1px solid black;
    margin-top: 2em;
}

footer a,
footer span {
    color: rgb(15, 15, 15);
    text-decoration: none;
    padding-left: 1.5em;
}

footer span {
    text-align: center;
    flex-grow: 1;
}

footer a:hover {
    text-decoration: underline;
}

#logo {
    display: flex;
    margin-right: 1.5em;
}

#logo a {
    margin: 0 0.4em;
    font-size: 0.3em;
}

#logo img {
    width: 20px;
    height: auto;
}