:root {
    padding: 0; 
    background-color: #E9C46A;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9C46A;
    font-family: Arial, sans-serif;
    margin: 0; 
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

header img {
    width: 7em; 
    border-radius: 10px;
    margin-left: 6em; 
}

header h1 {
    font-size: 36px;
    text-align: center; 
    flex-grow: 1; 
    margin-right: 5em;
}

section {
    margin: auto;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
}

#nav {
    margin-top: 7em;
    padding-top: 4em;
    display: flex;
    width: 94vw;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1em;
}

#nav div {
    flex-grow: 1;
    padding: 20px;
    background-color: #e17257;
    text-align: center;
    justify-content: space-between;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 10px;
    margin: 1em;
}

section #nav,
section #profile-info {
    border: 2px solid  black;
}

#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2em;
    margin: 1em 3em;
}

#profile-info-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

#profile-info-name,
#profile-info-email,
#profile-info-description {
    margin-top: 1em;
}

#edit-profile {
    display: none;
    width: 80%;
    background-color: #e17257;
    padding: 2em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#edit-profile input,
#edit-profile textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffc9bc;;
    border: 1px solid #d6694d;
    border-radius: 5px;
    font-size: 16px;
}

#edit-description {
    height: 100px;
}

#image-upload-label,
#image-upload input {
    background-color: #ffc9bc;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

#edit-button,
#save-button {
    background-color: #007bff;
    color: rgb(29, 29, 29);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#save-button {
    background-color: #28a745;
}

#edit-button:hover,
#save-button:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E76F51;
    border-top: 1px solid black;
    width: 100%; 
    box-sizing: border-box; 
    margin-top: auto;
}

footer a, footer span {
    color: rgb(15, 15, 15);
    text-decoration: none; 
    padding-left:  1.5em;
}

footer span {
    text-align: center;
    flex-grow: 1;
}

footer a:hover {
    text-decoration: underline; 
}

footer #logo{
    display: flex;
    margin-right: 1.5em;
}

footer #logo a {
    margin: 0 0.4em;
    font-size: 0.3em;
}

footer #logo img {
    width: 20px; 
    height: auto;
}
