:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9C46A;
    margin: 0;
    font-family: Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header img, header h1 {
    height: auto;
}

header img {
    width: 7em; 
    border-radius: 10px;
    margin-left: 6em; 
}

header h1 {
    font-size: 36px;
    text-align: center; 
    flex-grow: 1; 
    margin-right: 6.3em;
}

header a, a:visited {
    text-decoration: none;
 } 

header img {
    width: 7em; 
    border-radius: 10px;
}

header h1 {
    font-size: 36px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login-form {
    display: flex;
    flex-direction: row; 
    flex-direction: column;
    border: 1px solid #373737;
    border-radius: 5px;
    padding: 3em 0; 
    border: 1px solid #373737;
    width: 60%;
    align-items: center;
    margin-left: 0;
}

#login-form input[type="submit"] {
    background-color: #E76F51;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-form input[type="submit"]:hover {
    background-color: #FF7A59;
}

label {
    font-size: 16px;
    color: #333;
    text-align: center;
}

.form-row {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-row label {
    width: auto; 
    margin-right: 10px;
    text-align: right;
    
}

.form-row input {
    flex: 1;
    padding: 5px;
    width: 100%;
    margin-left: 10px;
    
}

input[type="username"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-top: 5px;
}

#button-container{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

#change-forgot-password{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    text-align: center;
    
}

#change-forgot-password a {
    color: rgb(15, 15, 15);
    text-decoration: none; 
}

#change-forgot-password a:hover {
    text-decoration: underline; 
}

.login-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #0055af;
}

.signup-btn {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    font-size: 16px;
}

.signup-btn:hover {
    background-color: #218838;
}

