:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #E9C46A;
    margin: 0;
}

main {
    display: flex;
    margin-top: 8.6em; 
    margin-bottom: 2.6em; 
    padding-bottom: 2.6em; 
    flex: 1; 
}

#header {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    position: fixed;
    top: 0;
    left: 1em;
    right: 1em;
    width: 94%;
    padding: 10px;
    
}

#header h1 {
    text-align: center; 
    width: 100%; 
}

#header, a {
    font-size: 1.5em;
    color: rgb(15, 15, 15);
}

#books-section{
    flex: 2; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

#books {
    display: grid;
    grid-template-columns: auto auto ;
    margin-top: 1.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: center;
    
}

#books-section, .book {
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
}

#books-section .book:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}