:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9C46A;
    margin: 0;
    font-family: Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header img, header h1 {
    height: auto;
}

header img {
    width: 7em; 
    border-radius: 10px;
    margin-left: 6em; 
}

header h1 {
    font-size: 36px;
    text-align: center; 
    flex-grow: 1; 
    margin-right: 6.3em;
}

header a, a:visited {
    text-decoration: none;
 } 

header img {
    width: 7em; 
    border-radius: 10px;
}

header h1 {
    font-size: 36px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#registration-form {
    display: flex;
    flex-direction: row; 
    flex-direction: column;
    border: 3px solid #4b4b4b;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3em;
    padding: 3em 0; 
    width: 60%;
    align-items: center;
}

#registration-form input[type="submit"] {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#registration-form input[type="submit"]:hover {
    background-color: #25903e; 
}

label {
    font-size: 16px;
    color: #333;
    text-align: center;
}

.form-row {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

.form-row label {
    width: 150px; 
    margin-right: 10px;
    text-align: right;
}

.form-row input {
    flex: 1;
    padding: 5px;
}

input[type="username"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-top: 5px;
}
  
footer {
    display: flex;
    align-items: center;
    background-color: #E76F51;
    width: 100%; 
    bottom: 0; 
    overflow: hidden;
    border-top: 1px solid black;
}

footer a, footer span {
    color: rgb(15, 15, 15);
    text-decoration: none; 
    padding-left:  1.5em;
}

footer span {
    text-align: center;
    flex-grow: 1;
}

footer a:hover {
    text-decoration: underline; 
}

#logo{
    display: flex;
    margin-right: 1.5em;
}

#logo a {
    margin: 0 0.4em;
    font-size: 0.3em;
}

#logo img {
    width: 20px; 
    height: auto;
}

