:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9C46A;
    margin: 0;
    font-family: Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
}

header img, header h1 {
    height: auto;
}

header img {
    width: 7em; 
    border-radius: 10px;
    margin-left: 6em; 
}

header h1 {
    font-size: 36px;
    text-align: center; 
    flex-grow: 1; 
    margin-right: 5.1em;
}

header a, a:visited {
    text-decoration: none;
 } 

header img {
    width: 7em; 
    border-radius: 10px;
}
main {
    display: flex;
    margin-top: 8.6em; 
    margin-bottom: 2.6em; 
    padding-bottom: 2.6em; 
    flex: 1; 
    flex-grow: 1;
    padding: 1em;
}

#books-section{
    flex: 2; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 2em;

    
}

#books {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 1.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1em;
    padding: 2em;
    
}

#books-section, .book {
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
}

#books-section .book:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#books-section .hide {
    display: none;
}

#books-section #read-more {
    width: 70%;
    background-color:#E76F51;
    color: rgb(46, 46, 46); 
    padding: 10px; 
    border-radius: 0 0 10px 10px; 
}

#books-section ul {
    list-style-type: none; 
}

.book {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
}

.book:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bottom-content {
    margin-top: auto;
    margin-bottom: .5em;
    text-align: center;
}

.toggle-btn {
    width: 70%;
    background-color: #E76F51;
    color: rgb(46, 46, 46);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}



.description, .publisher, .price, .discounted-price, .created-at {
    margin: 0.5em 0;
    border-bottom: 1px solid rgb(45, 45, 45);
    padding-top: .5em; 
}

.cover-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height:  250px;
    margin-bottom: 0.5em;
    align-self: center;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E76F51;
    border-top: 1px solid black;
    margin-top: 3em; 
}

footer a, footer span {
    color: rgb(15, 15, 15);
    text-decoration: none;
    padding-left: 1.5em;
}

footer span {
    text-align: center;
    flex-grow: 1;
}

footer a:hover {
    text-decoration: underline;
}

#logo {
    display: flex;
    margin-right: 1.5em;
}

#logo a {
    margin: 0 0.4em;
    font-size: 0.3em;
}

#logo img {
    width: 20px;
    height: auto;
}