:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #E9C46A;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    justify-content: space-around;
}

header img, header h1, header .fa-cart-shopping {
    height: auto;
}

header a, a:visited {
    text-decoration: none;
 } 

header img {
    width: 7em; 
    border-radius: 10px;
}

header h1 {
    font-size: 36px;
}

header .fa-cart-shopping {
    font-size: 2.5em;
    color: rgb(15, 15, 15);
    
}

main {
    display: flex;
    margin-top: 4em; 
    padding-top: 4em; 
    flex: 1; 
}

#tabs, #books, #filter {
    flex: 1; 
    padding: 0 20px; 
    width: 100%; 
}

#tabs {
    border: 1px solid black;
}

#books {
    flex: 3; 
}

footer {
    display: flex;
    align-items: center;
    background-color: #E76F51;
    padding: 10px;
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

footer a, footer span {
    color: rgb(15, 15, 15);
    text-decoration: none; 
}

footer span {
    text-align: center;
    flex-grow: 1;
}

footer a:hover {
    text-decoration: underline; 
}
